body {
  font-family: Arial, sans-serif;
}

.cre p {
    width: 100%;
    font-family: monospace;
}

table.matrix {
  border: 2px solid #FFFFFF;
  text-align: center;
  border-collapse: collapse;
  font-family: monospace;
}

table.matrix thead {
  border-bottom: 2px solid #333333;
}
table.matrix thead th {
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  padding: 0px 4px;
}
table.matrix thead th:first-child {
  border-left: none;
}
table.matrix th {
  padding: 0px 0px;
}
table.matrix td {
  padding: 0px 4px;
  text-align: right;
  vertical-align: bottom;
}
table.matrix tfoot {
  font-weight: bold;
  border-top: 2px solid #333333;
}