body {
  font-family: Arial, sans-serif;
}

.cre p {
    width: 100%;
    font-family: monospace;
}

table {
  table-layout: fixed;
  width: auto;
  font-family: monospace;
}

th {
  width: auto; 
  white-space: nowrap;
  text-align: center;
  font-weight: normal;
}

.vertical-headers th {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    vertical-align: top;
  }

thead,
tbody {
  vertical-align: middle;
  text-align: right;
}