[*.cs]

# SYSLIB1045: Convert to 'GeneratedRegexAttribute'.
dotnet_diagnostic.SYSLIB1045.severity = none

# IDE0028: Simplify collection initialization
dotnet_style_collection_initializer = false

# IDE0028: Simplify collection initialization
dotnet_diagnostic.IDE0028.severity = none

# IDE0305: Simplify collection initialization
dotnet_diagnostic.IDE0305.severity = none
